{{ define "main" }}

<link rel="stylesheet" href="/static/css/animate-4.1.1.min.css">
<link rel="stylesheet" href="/static/css/console.css">
<link rel="stylesheet" href="/static/css/terminal-0.7.2.min.css">


<h1>About</h1>

<p>
Hello! My name is Erik! I am a data scientist.  <a href="/about">(more)</a>
</p>
<br/>


<h1>Quick Links</h1>
<div>
    <a href="mailto:erik.bertolino@gmail.com">Mail</a> | <a href="/projects">Projects</a> | <a href="/posts">Posts</a> | <a href="https://github.com/ErikBertolino">Github</a> | <a href="https://twitter.com/ErikBertol82439">Twitter</a> | <a href="https://medium.com/@erikbertolino_30556">Medium</a> | <a href="/cv.pdf">CV</a>
</div>
<br/>


<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}